// Import the typography styles.
//
// MDC Typography
//
@use '@material/typography/mdc-typography';
@use '@material/theme/index' as theme;

html,
body {
	padding: 0;
	margin: 0;
}

.container {
	padding: 30px;
	width: 100%;
}

.homepage-container {
	background-color: theme.$primary;
}